body {
    font-family: Oswald;
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #444;
    color: #fff;
    text-align: center;

    background: #8E2DE2;  
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
    background: linear-gradient(to right, #4A00E0, #8E2DE2); 
}

h1, h2 {
    font-weight: 300;
}